.main_container_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f9;
    padding: 1.75rem 1.65rem 0 1.65rem;
    justify-content: space-around;
    
}
.container_logo{
    display: flex;
    justify-content: center;
}


.container_name_enterprise h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 27.2px;
    color: rgb(73, 73, 73);
}

.container_name_enterprise h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 22.4px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
}

.container_name_enterprise h5{
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17.6px;
    color: rgb(90, 90, 90);
}
 .container_name_enterprise p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
    font-size: 20px;
    line-height: 28px;
    margin-block-end: 5.5px;
    margin-block-start: 4px;
    margin-top: 4px;
    margin-bottom: 5.6px;
   
 }

.container_logo > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 0.2rem solid var(--theme-primary);
    z-index: 2;
    background-color: rgb(153, 153, 153);
}

.main_container_experience h2{
    color: rgb(73, 73, 73);
    font-size: 40px;
    font-weight: 700;
    margin-block-end: 40px;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    margin-bottom: 0%;
}

.container_info_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width:834px){
    .main_container_experience{
       display: flex;
       max-width: 968px;
       justify-content: center;
       align-items: center;
       margin-left: 25%;
       background-color: rgb(248, 248, 249);
       
    }

    .container_info_card{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        max-width: 80%;
    }
}